*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 50px;
    padding: 10px;
    background-color: dimgrey;
    opacity: 0.8;
    color: white;
    text-align: center;
}

h1 {
    font-size: 20px;
}

h2 {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
}


.image{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url(./IMG_0552.PNG);
    margin: 0 auto;
}